[client]
#password                                       = password
port                                            = 3306
socket                                          = /var/lib/mysql/mysql.sock

[mysqld_safe]
err-log                                         = /var/log/mysql.err

[mysqld]
user                                            = mysql
port                                            = 3306
socket                                          = /var/lib/mysql/mysql.sock
pid-file                                        = /var/lib/mysql/mysqld.pid
log-error                                       = /var/log/mysqld.err
basedir                                         = /usr
datadir                                         = /var/mysql
skip-external-locking
ignore-builtin-innodb
plugin_load=innodb=ha_innodb.so
plugin_dir=/usr/lib/plugin/
collation-server = utf8_general_ci
init-connect = 'SET NAMES utf8'
character-set-server = utf8
